In [1]:
import pandas as pd
df = pd.read_csv("data/insurance.csv")

In [2]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [3]:
df.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [6]:
df.smoker=df.smoker.replace("no","0")
df.smoker=df.smoker.replace("yes","1")

In [7]:
df.sex=df.sex.replace("male","0")
df.sex=df.sex.replace("female","1")

In [8]:
df.region=df.region.replace("northeast","0")
df.region=df.region.replace("northwest","1")
df.region=df.region.replace("southeast","2")
df.region=df.region.replace("southwest","3")

In [9]:
df

      age sex     bmi  children smoker region      charges
0      19   1  27.900         0      1      3  16884.92400
1      18   0  33.770         1      0      2   1725.55230
2      28   0  33.000         3      0      2   4449.46200
3      33   0  22.705         0      0      1  21984.47061
4      32   0  28.880         0      0      1   3866.85520
...   ...  ..     ...       ...    ...    ...          ...
1333   50   0  30.970         3      0      1  10600.54830
1334   18   1  31.920         0      0      0   2205.98080
1335   18   1  36.850         0      0      2   1629.83350
1336   21   1  25.800         0      0      3   2007.94500
1337   61   1  29.070         0      1      1  29141.36030

[1338 rows x 7 columns]

In [10]:
dep_var = df.drop(['age','sex','bmi','children','smoker','region'], axis='columns')
ind_var = df.drop(['charges'], axis='columns')

In [11]:
dep_var

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [12]:
ind_var

      age sex     bmi  children smoker region
0      19   1  27.900         0      1      3
1      18   0  33.770         1      0      2
2      28   0  33.000         3      0      2
3      33   0  22.705         0      0      1
4      32   0  28.880         0      0      1
...   ...  ..     ...       ...    ...    ...
1333   50   0  30.970         3      0      1
1334   18   1  31.920         0      0      0
1335   18   1  36.850         0      0      2
1336   21   1  25.800         0      0      3
1337   61   1  29.070         0      1      1

[1338 rows x 6 columns]

In [13]:
#split into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(ind_var, dep_var, test_size = 0.2)

In [14]:
X_train.shape

(1070, 6)

In [15]:
X_test.shape

(268, 6)

In [16]:
y_train.shape

(1070, 1)

In [17]:
y_test.shape

(268, 1)

In [18]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train,y_train)

LinearRegression()

In [19]:
y_test_predict = reg.predict(X_test)
y_test_predict

array([[ 5.51023692e+03],
       [ 3.61751801e+03],
       [ 1.11974592e+04],
       [ 3.63314068e+04],
       [ 5.54624336e+03],
       [ 1.76299529e+04],
       [ 1.48652748e+04],
       [ 6.15981250e+03],
       [ 1.54083698e+04],
       [ 2.99230772e+04],
       [ 5.14875173e+03],
       [ 3.72693809e+04],
       [ 1.54945381e+04],
       [ 6.36668434e+03],
       [ 4.92507074e+03],
       [-1.62001643e+01],
       [ 9.30673346e+03],
       [ 1.70571219e+04],
       [ 5.56863441e+03],
       [ 1.31446466e+04],
       [ 1.60213896e+04],
       [ 1.74793149e+03],
       [ 4.81682189e+03],
       [ 7.04242920e+03],
       [ 2.72039986e+04],
       [ 2.89217053e+04],
       [ 2.46195916e+04],
       [ 2.55171268e+03],
       [ 8.96890772e+03],
       [ 4.25724333e+03],
       [ 3.58501941e+04],
       [ 2.75085808e+04],
       [ 9.30588376e+03],
       [ 4.06514911e+04],
       [ 2.92676158e+04],
       [ 4.68538074e+03],
       [ 2.90452405e+03],
       [ 1.37644226e+04],
       [ 1.40386641e+04],
       [ 1.07164309e+04],
       [ 4.13038222e+03],
       [ 1.18948129e+04],
       [ 3.94596497e+04],
       [ 4.24555623e+03],
       [ 3.10444420e+03],
       [ 1.26563132e+04],
       [ 1.51032030e+04],
       [ 1.14129666e+04],
       [ 9.22110641e+03],
       [ 1.56935259e+04],
       [-1.37413216e+03],
       [ 1.86035022e+03],
       [ 6.46170496e+03],
       [ 6.48525201e+02],
       [-3.96410124e+02],
       [ 7.19861443e+03],
       [ 7.69013042e+03],
       [ 3.60358105e+04],
       [ 4.74746050e+03],
       [ 5.92338060e+03],
       [ 2.81404376e+03],
       [ 1.69128268e+04],
       [ 1.82886054e+03],
       [-1.95828528e+03],
       [ 1.24856790e+04],
       [ 3.43417805e+04],
       [ 1.48999425e+04],
       [ 1.34611770e+04],
       [ 1.38461880e+03],
       [ 2.83628187e+04],
       [ 1.57271620e+04],
       [ 1.38117442e+04],
       [ 8.26970811e+03],
       [ 1.24710744e+04],
       [ 1.26749814e+04],
       [ 1.27798788e+04],
       [ 3.41251733e+04],
       [ 1.14541564e+04],
       [ 2.53749369e+04],
       [ 1.16697389e+04],
       [ 7.65622755e+03],
       [ 8.51777871e+03],
       [ 1.07762814e+04],
       [ 3.41808447e+04],
       [ 2.49944217e+04],
       [ 7.21218852e+03],
       [ 5.53800798e+03],
       [ 1.00046228e+04],
       [ 1.38252023e+04],
       [ 2.75226265e+04],
       [ 1.29411266e+04],
       [ 3.65153020e+03],
       [ 7.01389117e+03],
       [ 8.85210189e+03],
       [ 1.61273549e+04],
       [ 5.04754834e+03],
       [ 1.17665547e+04],
       [ 2.18046345e+03],
       [ 1.46184979e+04],
       [ 4.33748854e+03],
       [ 2.72034051e+03],
       [ 8.86509886e+03],
       [ 3.23832240e+04],
       [ 9.66668677e+03],
       [ 3.09597509e+04],
       [ 2.86800789e+04],
       [ 1.21964347e+04],
       [ 4.27717197e+03],
       [ 3.18406829e+04],
       [ 4.05615058e+03],
       [ 3.18896453e+04],
       [ 5.49943884e+03],
       [ 9.85297377e+03],
       [ 8.90219986e+03],
       [ 2.91948049e+03],
       [ 1.05921598e+04],
       [ 5.87606301e+03],
       [ 6.33047491e+03],
       [ 1.27021606e+04],
       [ 7.26548214e+03],
       [ 3.37248312e+04],
       [ 3.09920425e+04],
       [ 3.32482374e+04],
       [ 8.18908747e+03],
       [ 1.14437852e+04],
       [ 1.40743323e+04],
       [ 1.45373182e+04],
       [ 7.84372669e+02],
       [ 1.04277259e+04],
       [ 1.05279102e+04],
       [ 3.63251994e+04],
       [ 2.60043772e+04],
       [ 1.11297661e+04],
       [ 3.94505164e+03],
       [ 3.27171162e+04],
       [ 1.36011786e+04],
       [ 1.19998514e+04],
       [ 3.08936986e+04],
       [ 1.16399224e+04],
       [ 1.22558416e+04],
       [ 8.83786978e+03],
       [ 1.34053176e+04],
       [ 2.30102177e+03],
       [ 3.63381143e+04],
       [ 1.44753341e+04],
       [ 8.86399564e+03],
       [ 1.11209269e+04],
       [ 1.51886048e+04],
       [ 5.42898445e+03],
       [ 1.29077555e+04],
       [ 1.55411340e+04],
       [ 1.60395949e+03],
       [ 3.49901835e+03],
       [ 3.26809240e+03],
       [ 4.58006791e+03],
       [ 7.83847481e+03],
       [ 1.63333167e+04],
       [ 1.40612397e+04],
       [ 7.22481203e+03],
       [ 5.42620045e+03],
       [ 2.63400137e+03],
       [ 5.41050167e+03],
       [ 1.71854591e+04],
       [ 1.98839764e+03],
       [-7.44323128e+01],
       [ 2.31044574e+04],
       [ 3.89787331e+03],
       [ 9.50079187e+03],
       [ 1.09896011e+04],
       [ 3.19266313e+03],
       [ 1.72969436e+04],
       [ 3.63172414e+01],
       [ 1.42493914e+04],
       [ 2.39939028e+03],
       [ 6.52997317e+03],
       [ 4.01519167e+04],
       [ 8.34549601e+03],
       [ 1.69262416e+04],
       [ 1.14953361e+04],
       [ 7.88922148e+03],
       [ 7.34966386e+03],
       [ 5.04159080e+03],
       [ 2.42445676e+04],
       [ 1.67568133e+03],
       [ 2.95786348e+04],
       [ 7.91111197e+03],
       [ 3.97480426e+03],
       [ 3.42158740e+03],
       [ 3.75031212e+04],
       [ 7.55826473e+03],
       [ 2.34052800e+04],
       [ 8.94236447e+03],
       [ 2.07586136e+03],
       [ 1.29244315e+04],
       [ 1.22619527e+04],
       [ 1.05233407e+04],
       [ 1.08982196e+04],
       [ 5.43572345e+03],
       [ 3.52288538e+04],
       [ 6.00576456e+03],
       [ 2.37632758e+04],
       [ 1.45117225e+04],
       [ 1.10324670e+04],
       [ 1.07846957e+04],
       [ 1.14935298e+04],
       [ 2.94309319e+03],
       [ 1.48813828e+04],
       [ 3.00082479e+03],
       [ 7.85429350e+03],
       [ 5.65483498e+03],
       [ 9.70755639e+03],
       [ 3.97487924e+03],
       [ 8.14194630e+03],
       [ 1.31016844e+04],
       [ 9.36684688e+03],
       [ 3.26796982e+03],
       [ 4.13193499e+03],
       [ 8.09049315e+03],
       [ 2.70700626e+04],
       [ 1.99986106e+03],
       [ 1.17309224e+04],
       [ 2.33462975e+03],
       [ 1.79077869e+03],
       [ 9.63468999e+03],
       [ 3.86774058e+04],
       [ 2.36605897e+03],
       [ 1.35801786e+04],
       [ 5.72827640e+03],
       [ 1.16520606e+04],
       [ 1.48828513e+04],
       [ 7.44763775e+03],
       [ 3.38735628e+04],
       [ 3.40495184e+04],
       [ 1.65294903e+04],
       [ 5.74980468e+03],
       [ 1.67755716e+03],
       [ 2.65926378e+04],
       [ 5.93617294e+03],
       [ 1.38442863e+04],
       [ 1.12141110e+04],
       [ 6.15977663e+03],
       [ 3.97202078e+04],
       [ 1.40196985e+04],
       [ 1.45177717e+04],
       [ 3.33602273e+04],
       [ 6.56099122e+03],
       [ 7.62109110e+03],
       [ 8.40684313e+03],
       [ 4.49539033e+03],
       [ 3.23639842e+03],
       [ 3.74237581e+04],
       [ 1.09158788e+04],
       [ 2.75070597e+04],
       [ 6.76792656e+03],
       [ 1.33449557e+04],
       [ 2.74423476e+04],
       [-2.33736590e+03],
       [ 9.75074588e+03],
       [ 1.46455200e+03],
       [ 6.59717907e+02],
       [ 7.53772033e+03],
       [ 3.31621911e+04],
       [ 2.97499695e+04],
       [ 9.81858976e+03],
       [ 7.31682480e+03],
       [ 1.40789607e+04],
       [ 2.80642747e+04],
       [ 8.97397969e+03]])

In [20]:
c=reg.intercept_
c

array([-12720.62162024])

In [21]:
m=reg.coef_
m

array([[  266.42135815,   136.83569952,   344.01204912,   366.51950817,
        24100.17630722,  -313.00008531]])